*{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'DM Mono', monospace;
  font-size: 16px;
  color: #323232;
}

.container {
  display: flex;
  text-align: center;
  border: 1px solid red;
  justify-content: center;
}

h1 {
  font-size: 36px;
  border-bottom: 1px solid tomato;
}